*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width:100;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 19, 19);
}

.calculator{
    border: 1px solid rgb(58, 117, 142);
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(220, 193, 193);
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5);
}

input{
    width: 100%;
    border: none;
    padding: 20px;
    margin: 10px;
    font-size: large;
    box-shadow: 0px 3px 15px rgbs(113,115,119,0.5)  ;
    text-align: right;
    cursor: pointer;
}

input::placeholder{
    color:white;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50px;
    background-color: rgb(24, 5, 109);
    color: rgb(182, 230, 10);
    font-size: 30px;
    box-shadow: 0px 3px 15px rgba(12, 197, 191, 50);
    cursor: pointer;
}

.equal{
    background-color: orange;
    color: white;
}

.operator{
    background-color: green;
    color: white;
}

button:active{
    transform: scale(0.9);
}

button:hover{
    box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.8);
}